/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  serverRuntimeConfig: {
    DATA_SECRET_KEY: process.env.DATA_SECRET_KEY,
  },
  publicRuntimeConfig: {
    APP_NAME: 'TenderHub India',
    SITE_URL: process.env.NEXT_PUBLIC_SITE_URL,
  },
}

module.exports = nextConfig